* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    min-width: 400px; 
}

/* NAVBAR */

.navbar-inverse {
    background-color: white;
    border: none;
    font-size: 1em;
    margin-bottom: 0;
}

.navbar-inverse .navbar-nav>li>a {
    font-weight: 500;
    color: black;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: grey;
}

.navbar-brand {
    padding: 10.5px 15px; 
}

#logo {
    height: 29px;
    width: 172px;
} 

.ms_btn {
    border-color: #006aff;
    color: #006aff;
    font-weight: 500;
}

.ms_btn:hover {
    background-color: #006aff;
    color:white;
    transition: .5s ease;
}

.navbar-inverse .navbar-toggle {
    border-color: white;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #006aff;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    border-color: #006aff;
    background-color: white;
    transition: .8s ease;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
}

#sign_up {
    padding: 0;
    padding-left: 15px;
}


.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color : #006aff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #006aff;
}

/* NAVBAR MEDIA QUERY  */

/* Credits to stack-overflow for this one because Bootstrap 3 is a pain sometimes */

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

   .navbar-collapse.collapse.in {  
        display: block!important; 
    }
}

/* JUMBOTRON SECTION  */

.jumbotron {
    text-align: center;
    background-image: url('../img/sea.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
   
.white_text {
    color: white;
}

.blue_ocean {
    color: #006aff;
}

/* VALUTARE SE FARE CON BOX PER VISIBILITA' O TENERE JUMBO PIU' LUNGO COME L'ORIGINALE MA NON COME LA FOTO  */

#jumbo_paragraph {
    color: rgb(187, 204, 255);
    background-color: #006aff;
    padding: 0.5em;
    opacity: 0.8; 
    font-weight: 400;
}

.jumbotron h1 {
    font-size: 55px;
}

.thumbnail {
    padding: 4px 16px;
}

#thumb_title {
    font-weight: 700;
    line-height: 1.5;
}

.make_relative {
    position: relative;
}

#create_acc_btn {
    font-weight: 500;
}

.push_top {
    margin-top: 0.35em;
}

.push_btm {
    margin-bottom: 0.35em;
}

#google_btn {
    margin-top: 0;
    font-weight: 500;
}

#google {
    position: absolute;
    width: 1.2em;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}

.form-signin a {
    text-decoration: underline;
}

/* HEADER BOTTOM SECTION  */

.jumbotron {
    margin-bottom : 0;
}

.header_bottom {
    height: 250px;
    background-color: rgb(243, 245, 249);
}
