* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    min-width: 400px; 
}

/* NAVBAR */

.navbar-inverse {
    background-color: white;
    border: none;
    font-size: 1em;
    margin-bottom: 0;
}

.navbar-inverse .navbar-nav>li>a {
    font-weight: 500;
    color: black;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: grey;
}

.navbar-brand {
    padding: 10.5px 15px; 
}

#logo {
    height: 29px;
    width: 172px;
} 

.ms_btn {
    border-color: #006aff;
    color: #006aff;
    font-weight: 500;
}

.ms_btn:hover {
    background-color: #006aff;
    color:white;
    transition: .5s ease;
}

.navbar-inverse .navbar-toggle {
    border-color: white;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #006aff;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    border-color: #006aff;
    background-color: white;
    transition: .8s ease;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
}

#sign_up {
    padding: 0;
    padding-left: 15px;
}


.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color : #006aff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #006aff;
}

/* JUMBOTRON SECTION  */

.jumbotron {
    text-align: center;
    background-image: url('../img/sea.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
   
.white_text {
    color: white;
}

.blue_ocean {
    color: #006aff;
}

/* VALUTARE SE FARE CON BOX PER VISIBILITA' O TENERE JUMBO PIU' LUNGO COME L'ORIGINALE MA NON COME LA FOTO  */

#jumbo_paragraph {
    color: rgb(187, 204, 255);
    background-color: #006aff;
    padding: 0.5em;
    opacity: 0.8; 
    font-weight: 400;
}

.jumbotron h1 {
    font-size: 55px;
}

.thumbnail {
    padding: 16px;
}

#thumb_title {
    font-weight: 700;
    line-height: 1.5;
}

.make_relative {
    position: relative;
}

#create_acc_btn {
    font-weight: 500;
}

.push_top {
    margin-top: 0.35em;
}

.push_btm {
    margin-bottom: 0.35em;
}

#google_btn {
    margin-top: 0;
    font-weight: 500;
}

#google {
    position: absolute;
    width: 1.2em;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}

.form-signin a {
    text-decoration: underline;
}

/* HEADER BOTTOM SECTION  */

.jumbotron {
    margin-bottom : 0;
}

.header_bottom {
    background-color: rgb(243, 245, 249);
    padding-top: 32px;
    padding-bottom: 16px;
}

.header_bottom h6 {
    font-size: 14px;
    color: rgb(91, 105, 135);
}

#stories {
    color: #006aff;
    font-weight: 700;
    margin-top: 16px;
}

.logos {
    margin-top: 32px;
    margin-bottom: 16px;
}

.img_handler {
    max-width: 100%;
    min-height: 77px;
}

/* DEPLOY AND SCALE SECTION */

#deploy {
    padding: 32px 0;
}

.add_padding {
    padding-top: 64px;
} 

.make_stronger {
    font-weight: 700;
}

.p_styling {
    font-size: 20px;
    color: rgb(91, 105, 135);
    font-weight: 300;
}

.sidebar_style {
    list-style-type: none;
    text-align: left;
}

.sidebar_style li {
    padding: 1em;
    border-left: 2px solid rgb(229, 232, 237);
}

.sidebar_style li a {
    text-decoration: none;
    color: rgb(91, 105, 135);
    font-weight: 500;
}

.sidebar_style li:hover > a {
    color: black;
}

.sidebar_style li:hover , .sidebar_style li:focus {
    border-left: 2px solid #006aff;
    color: black;
}

.img_wrapper {
    min-height: 48px;
}

.text_box h5 {
    font-weight: 700;
    font-size: 18px;
}

.text_box p {
    font-weight: 400; 
    font-size: 16px;
    color: rgb(91, 105, 135);
}


/* DESIGN SECTION  */

#design {
    background-color: rgb(243, 245, 249);
    padding: 32px 0;
}

.item img {
    padding: 4.5em;
}

.slider_box {
    width: 80%;
    margin: 0 auto;
}

.carousel-control.left , .carousel-control.right {
    background-image: none;
}

.make_black {
    color: black;
}

.carousel-indicators li {
    border: 1px solid #006aff;
}

.carousel-indicators .active {
    background-color: #006aff;
}

/* FEATURES  */

#features {
    padding: 32px 0;
}

.features_box {
    margin-top: 1.5em;
}

.features_box h5 {
    font-weight: 700;
    font-size: 18px;
}

.features_box p {
    font-weight: 400; 
    font-size: 16px;
    color: rgb(91, 105, 135);
}

.a_style {
    color: #006aff;
    font-weight: 700;
    margin-top: 16px;
}

.a_style:hover {
    color: #006aff;
}

/* SERVER SPEED TEST  */

#speed_test {
    background-color: rgb(0,63,188);
    padding: 32px 0;
}

.speed_title {
    color: white;
    font-size: 36px;
    text-align: center;
}

.server {
    height: 40px;
    line-height: 40px;
}

.give_border {
    border-bottom: 1px solid white;
}

.p_speed {
    color: rgb(187, 204, 255);
    margin: 0;
    font-size: 0.8em;
}

.test_link {
    color: rgb(0,213,209);
}

.test_link:hover {
    color: rgb(0,213,209);
    text-decoration: underline;
}

.test_link:focus {
    color: lightgreen;
}

.servers_list {
    margin-top: 16px;
}

.servers_space {
    margin-bottom: 32px;
}

/* SECOND CAROUSEL  */

#teams {
    background-color: rgb(243, 245, 249);
    padding: 32px 0;
}

.teams h2 {
    margin-bottom: 32px;
}

.box_handler {
    height: 380px;
    background-color: white;
}

.slider_box_two {
    width: 70%;
    margin: 0 auto;
}

.slider_box_two p {
    font-weight: 400; 
    font-size: 20px;
    color: rgb(91, 105, 135);
}

.box_handler img {
    margin: 0 auto;
}

.indicators_two {
    position: static;
    margin: 0 auto;
    margin-top: 1em;
}

/* FOOTER  */

.footer_top {
    background-color: rgb(0,63,188);
    padding: 32px 0;
}

#account {
    color: #006aff;
    font-weight: 500;
    font-size: 1.2em;
    margin-top: 16px;
}

.footer_btm {
    background-color: rgb(3,28,78);
    padding: 32px 0;
}

.footer_btm p {
    margin-top: 15px;
    margin-bottom: 0;
}

.icon_margin {
    margin-right: 10px;
}

.footer_btm p, .icon_container .fab {
    color: rgb(125, 136, 159);
}

#darker_color {
    margin: 0;
    color: rgb(88, 103, 133);
}

.icon_container {
    margin-top: 15px;
}

.icon_container .fab {
    cursor: pointer;
}

.foot_ul {
    list-style-type: none;
    color: rgb(125, 136, 159);
    margin-top: 24px;
}

.foot_ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.li_margin {
    margin-top: 8px;
}

.primary {
    font-weight: 700;
    color: white;
}

.baloon_wrap {
    line-height: 70px;
    height: 70px;
    padding: 0 20px;
}

.help_box {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 2;
}

.baloon {
    padding: 20px;
    position: relative;
    font-size: 1em;
    font-weight: 500;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 5px 10px 20px;
}

.move_triangle {
    position: absolute;
    right: -12px;
    font-size: 5em;
    color: white;
}



.float {
    float: left;
}

.sammy_box {
    display: inline-block;
    position:relative;
    width: 70px;
    height: 70px;
}

#notification {
    display: inline-block;
    position: absolute; 
    width: 30px;
    height: 30px;
    line-height: 26px;
    text-align: center;
    top: -15px;
    right: -15px;
    border: 2px solid white;
    color: white;
    background-color: red;
    border-radius: 50%;
}

.sammy_box img {
    display: inline-block;
    object-fit: contain;
    max-width: 100%;
    height: 70px;
    background-color: rgb(0,106,255);
    border-radius: 10px;
}

/* NAVBAR MEDIA QUERY  */

/* Credits to stack-overflow for this one because Bootstrap 3 is a pain sometimes */

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

   .navbar-collapse.collapse.in {  
        display: block!important; 
    }
}

@media (max-width: 767px) {
    .text_box {
        min-height: 0px;
    }

    .xs_display_none {
        display: none;
    }

    .xs_margin {
        margin-bottom: 32px;
    }
}